@import url('css/base.css');
@import url('css/nav.css');
@import url('css/hero.css');
@import url('css/about.css');
@import url('css/menu.css');
@import url('css/gallery.css');
@import url('css/contact.css');

/* Mobile Configurations */
@media (max-width: 1000px) {
	#navbar {
		display: flex;
		top: 0px;
		left: 0px;
		width: 100%;
		z-index: 10;
		background-color: var(--color-primary);
		align-items: center;
	}

	#menu {
		display: flex;
		flex-direction: column;
		width: 100%;
		position: relative;
	}

	.menu_card {
		display: flex;
		flex-direction: column;
		border: 1px solid white;
		width: 100%;
		text-align: center;
		align-self: flex-start;
		margin-bottom: 3rem;
		margin: 0 5rem;
		padding-bottom: 2rem;
	}

	.contact_row {
		flex-direction: column;
		justify-content: space-between;
	}

	.menu_row {
		flex-direction: column;
	}

	.buttons {
		flex-direction: column;
		align-content: center;
		justify-content: center;
		align-self: center;
		margin-top: 6rem;
	}
}
