body{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
}
a{
    color: white;
    text-decoration: none;
}

#navbar{
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
    background-color: orange;
    align-items: center;
}
#navbar img{
    height: 75px;
}
.nav_btns{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;

}
.nav_list{
    margin: 40px;
    list-style-type: none;
}

.hero{
    display: flex;
    position: relative;
    width: 99vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.hero::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-image: url(images/hero_bg.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(90%);
}
.hero_content{
    text-align: center;
    position: relative;
    color: white;
    margin: 0.625rem;
}
.hero_title{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
}
.hero_sub{
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
}

#about{
    padding:5em 0;
    text-align: center;
    background-color: rgb(226, 146, 27);
}
.about_content{
    max-width: 760px;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#about h3{
    margin-bottom: 1em;
    opacity: .5;
}
#about h2{
    font-size: 3.375em;
    margin-block-start: .83em;
    margin-block-end: .83em;
}

#menu{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.buttons{
  align-content: center;
  justify-content: center;
  align-self: center;
}
.categories{
  align-content: center;
  justify-content: center;
  padding: 8px;
  margin: 10px;
  margin-top: 2em;
  margin-bottom: 2em;
}
.menu_card{
  display: flex;
  flex-direction: column;
  border:1px solid white;
  justify-content: center;
  align-content: center;
  width: 500px;
  text-align: center;
  align-self: center;
  margin-bottom: 3rem;
}
.food_item_top{
  display: flex;
  justify-content: space-between;
}
.food_item_top div{
  align-self: center;
}




.preview {
    width: 100%;
  }
  
.row {
    display: flex;
    flex-direction: row;
  }
  
  /* Now you want to define what the lightbox will look like. Note that you have the display
     as none. You don't want it to show until the user clicks on one of the previews. 
     You will change this display property with JavaScript below. */
     
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 10px 62px 0px 62px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
     z-index: 20; 
  }
  
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 0 0 0 0;
    width: 80%;
    max-width: 1200px;
    height: 80%;
  }
  /* Same with your slides, you set the display to none, because you want to choose which 
     one is shown at a time. */
  
  .slide {
    display: none;
  }
  
  .image-slide {
    width: 100%;
  }
  
  .modal-preview {
    width: 100%;
  }
  
  .dots {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .col{
      width: auto;
      height: auto;
  }
  
  /* You want the previews a little transparent to show that they are "inactive". 
     You then add an .active or :hover class to animate the selections for your user when
     they interact with your controls and clickable content.
   */
  
  img.preview, img.modal-preview {
    opacity: 1;
  }
  
  img.active,
  .preview:hover,
  .modal-preview:hover {
    opacity: .6;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  } 
  
  .close {
    color: rgb(204, 179, 179);
    position: absolute;
    top: 10px;
    right: 150px;
    font-size: 35px;
    font-weight: bold;
    z-index: 110;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .previous,
  .next {
    align-self: stretch;
    cursor: pointer;
    position: absolute;
    top: 0;
    width: auto;
    padding: 387px 30px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .previous:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }


#contact{
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    justify-content: center;
    width: 1300px;
}
.contact_row{
    display: flex;
}
.contact_column{
    flex:1;
    text-align: center;
}
.contact_column a{
    text-decoration: underline;
}
